In [1]:
import sqlite3
con = sqlite3.connect("accident_data_v1.0.0_2023.db")
cur = con.cursor()

In [28]:
table_list = [a[0] for a in cur.execute("SELECT name FROM sqlite_master WHERE type = 'table'")]
print(f'Table names are : {table_list}')

Table names are : ['accident', 'casualty', 'vehicle', 'lsoa']

In [2]:
col_info = cur.execute(f"PRAGMA table_info(accident)")

In [3]:
col_info.fetchall()

[(0, 'accident_index', '', 0, None, 1),
 (1, 'accident_year', '', 0, None, 0),
 (2, 'accident_reference', '', 0, None, 0),
 (3, 'location_easting_osgr', '', 0, None, 0),
 (4, 'location_northing_osgr', '', 0, None, 0),
 (5, 'longitude', '', 0, None, 0),
 (6, 'latitude', '', 0, None, 0),
 (7, 'police_force', '', 0, None, 0),
 (8, 'accident_severity', '', 0, None, 0),
 (9, 'number_of_vehicles', '', 0, None, 0),
 (10, 'number_of_casualties', '', 0, None, 0),
 (11, 'date', '', 0, None, 0),
 (12, 'day_of_week', '', 0, None, 0),
 (13, 'time', '', 0, None, 0),
 (14, 'local_authority_district', '', 0, None, 0),
 (15, 'local_authority_ons_district', '', 0, None, 0),
 (16, 'local_authority_highway', '', 0, None, 0),
 (17, 'first_road_class', '', 0, None, 0),
 (18, 'first_road_number', '', 0, None, 0),
 (19, 'road_type', '', 0, None, 0),
 (20, 'speed_limit', '', 0, None, 0),
 (21, 'junction_detail', '', 0, None, 0),
 (22, 'junction_control', '', 0, None, 0),
 (23, 'second_road_class', '', 0, None, 0),
 (24, 'second_road_number', '', 0, None, 0),
 (25, 'pedestrian_crossing_human_control', '', 0, None, 0),
 (26, 'pedestrian_crossing_physical_facilities', '', 0, None, 0),
 (27, 'light_conditions', '', 0, None, 0),
 (28, 'weather_conditions', '', 0, None, 0),
 (29, 'road_surface_conditions', '', 0, None, 0),
 (30, 'special_conditions_at_site', '', 0, None, 0),
 (31, 'carriageway_hazards', '', 0, None, 0),
 (32, 'urban_or_rural_area', '', 0, None, 0),
 (33, 'did_police_officer_attend_scene_of_accident', '', 0, None, 0),
 (34, 'trunk_road_flag', '', 0, None, 0),
 (35, 'lsoa_of_accident_location', '', 0, None, 0)]

In [4]:
col_info1 = cur.execute(f"PRAGMA table_info(vehicle)")
col_info1.fetchall()

[(0, 'vehicle_index', '', 0, None, 1),
 (1, 'accident_index', '', 0, None, 0),
 (2, 'accident_year', '', 0, None, 0),
 (3, 'accident_reference', '', 0, None, 0),
 (4, 'vehicle_reference', '', 0, None, 0),
 (5, 'vehicle_type', '', 0, None, 0),
 (6, 'towing_and_articulation', '', 0, None, 0),
 (7, 'vehicle_manoeuvre', '', 0, None, 0),
 (8, 'vehicle_direction_from', '', 0, None, 0),
 (9, 'vehicle_direction_to', '', 0, None, 0),
 (10, 'vehicle_location_restricted_lane', '', 0, None, 0),
 (11, 'junction_location', '', 0, None, 0),
 (12, 'skidding_and_overturning', '', 0, None, 0),
 (13, 'hit_object_in_carriageway', '', 0, None, 0),
 (14, 'vehicle_leaving_carriageway', '', 0, None, 0),
 (15, 'hit_object_off_carriageway', '', 0, None, 0),
 (16, 'first_point_of_impact', '', 0, None, 0),
 (17, 'vehicle_left_hand_drive', '', 0, None, 0),
 (18, 'journey_purpose_of_driver', '', 0, None, 0),
 (19, 'sex_of_driver', '', 0, None, 0),
 (20, 'age_of_driver', '', 0, None, 0),
 (21, 'age_band_of_driver', '', 0, None, 0),
 (22, 'engine_capacity_cc', '', 0, None, 0),
 (23, 'propulsion_code', '', 0, None, 0),
 (24, 'age_of_vehicle', '', 0, None, 0),
 (25, 'generic_make_model', '', 0, None, 0),
 (26, 'driver_imd_decile', '', 0, None, 0),
 (27, 'driver_home_area_type', '', 0, None, 0)]

In [5]:
col_info2 = cur.execute(f"PRAGMA table_info(casualty)")
col_info2.fetchall()

[(0, 'casualty_index', '', 0, None, 1),
 (1, 'accident_index', '', 0, None, 0),
 (2, 'accident_year', '', 0, None, 0),
 (3, 'accident_reference', '', 0, None, 0),
 (4, 'vehicle_reference', '', 0, None, 0),
 (5, 'casualty_reference', '', 0, None, 0),
 (6, 'casualty_class', '', 0, None, 0),
 (7, 'sex_of_casualty', '', 0, None, 0),
 (8, 'age_of_casualty', '', 0, None, 0),
 (9, 'age_band_of_casualty', '', 0, None, 0),
 (10, 'casualty_severity', '', 0, None, 0),
 (11, 'pedestrian_location', '', 0, None, 0),
 (12, 'pedestrian_movement', '', 0, None, 0),
 (13, 'car_passenger', '', 0, None, 0),
 (14, 'bus_or_coach_passenger', '', 0, None, 0),
 (15, 'pedestrian_road_maintenance_worker', '', 0, None, 0),
 (16, 'casualty_type', '', 0, None, 0),
 (17, 'casualty_home_area_type', '', 0, None, 0),
 (18, 'casualty_imd_decile', '', 0, None, 0)]

In [23]:
col_info3 = cur.execute(f"PRAGMA table_info(lsoa)")
col_info3.fetchall()

[(0, 'objectid', '', 0, None, 1),
 (1, 'lsoa01cd', '', 0, None, 0),
 (2, 'lsoa01nm', '', 0, None, 0),
 (3, 'lsoa01nmw', '', 0, None, 0),
 (4, 'shape__area', '', 0, None, 0),
 (5, 'shape__length', '', 0, None, 0),
 (6, 'globalid', '', 0, None, 0)]

In [6]:
import pandas as pd

In [29]:
df_accident = pd.read_sql_query('SELECT * From accident', con)
ac_names = list(df_accident)
print(f'Accident Table columns names are : {ac_names}')

Accident Table columns names are : ['accident_index', 'accident_year', 'accident_reference', 'location_easting_osgr', 'location_northing_osgr', 'longitude', 'latitude', 'police_force', 'accident_severity', 'number_of_vehicles', 'number_of_casualties', 'date', 'day_of_week', 'time', 'local_authority_district', 'local_authority_ons_district', 'local_authority_highway', 'first_road_class', 'first_road_number', 'road_type', 'speed_limit', 'junction_detail', 'junction_control', 'second_road_class', 'second_road_number', 'pedestrian_crossing_human_control', 'pedestrian_crossing_physical_facilities', 'light_conditions', 'weather_conditions', 'road_surface_conditions', 'special_conditions_at_site', 'carriageway_hazards', 'urban_or_rural_area', 'did_police_officer_attend_scene_of_accident', 'trunk_road_flag', 'lsoa_of_accident_location']

In [30]:
df_casualty = pd.read_sql_query('SELECT * From casualty', con)
ac_names1 = list(df_casualty)
print(f'Casualty Table columns names are : {ac_names1}')

Casualty Table columns names are : ['casualty_index', 'accident_index', 'accident_year', 'accident_reference', 'vehicle_reference', 'casualty_reference', 'casualty_class', 'sex_of_casualty', 'age_of_casualty', 'age_band_of_casualty', 'casualty_severity', 'pedestrian_location', 'pedestrian_movement', 'car_passenger', 'bus_or_coach_passenger', 'pedestrian_road_maintenance_worker', 'casualty_type', 'casualty_home_area_type', 'casualty_imd_decile']

In [31]:
df_vehicle = pd.read_sql_query('SELECT * From vehicle', con)
ac_names2 = list(df_vehicle)
print(f'Vehicle Table columns names are : {ac_names1}')

Vehicle Table columns names are : ['casualty_index', 'accident_index', 'accident_year', 'accident_reference', 'vehicle_reference', 'casualty_reference', 'casualty_class', 'sex_of_casualty', 'age_of_casualty', 'age_band_of_casualty', 'casualty_severity', 'pedestrian_location', 'pedestrian_movement', 'car_passenger', 'bus_or_coach_passenger', 'pedestrian_road_maintenance_worker', 'casualty_type', 'casualty_home_area_type', 'casualty_imd_decile']

In [33]:
table_name = 'accident'
query = f"SELECT * FROM {table_name}"

# Execute the query and fetch all rows
cur.execute(query)
all_rows = cur.fetchall()

# Get the row count
row_count = len(all_rows)

print(f"Number of rows in {table_name}: {row_count}")

Number of rows in accident: 461352

In [34]:
table_name = 'casualty'
query = f"SELECT * FROM {table_name}"

# Execute the query and fetch all rows
cur.execute(query)
all_rows = cur.fetchall()

# Get the row count
row_count = len(all_rows)

print(f"Number of rows in {table_name}: {row_count}")

Number of rows in casualty: 600332

In [35]:
table_name = 'vehicle'
query = f"SELECT * FROM {table_name}"

# Execute the query and fetch all rows
cur.execute(query)
all_rows = cur.fetchall()

# Get the row count
row_count = len(all_rows)

print(f"Number of rows in {table_name}: {row_count}")

Number of rows in vehicle: 849091

In [37]:

sql_all = "SELECT * FROM accident JOIN vehicle ON accident.accident_reference = vehicle.accident_reference JOIN casualty ON accident.accident_reference = casualty.accident_reference WHERE accident.accident_year = 2020"

cur.execute(sql_all)
all_rows = cur.fetchall()

# Get the row count
row_count = len(all_rows)

print(f"Number of accident in year 2020 : {row_count}")

Number of accident in year 2020 : 221631

In [38]:
sql_query = f"SELECT * FROM {table_names[0]}"
accident_df = pd.read_sql_query(sql_query, con)

In [39]:
display(accident_df)

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2017010001708,2017,010001708,532920.0,196330.0,-0.080107,51.650061,1,1,2,...,0,4,1,1,0,0,1,1,2,E01001450
1,2017010009342,2017,010009342,526790.0,181970.0,-0.173845,51.522425,1,3,2,...,0,4,1,2,0,0,1,1,2,E01004702
2,2017010009344,2017,010009344,535200.0,181260.0,-0.052969,51.514096,1,3,3,...,0,4,1,1,0,0,1,1,2,E01004298
3,2017010009348,2017,010009348,534340.0,193560.0,-0.060658,51.624832,1,3,2,...,4,4,2,2,0,0,1,1,2,E01001429
4,2017010009350,2017,010009350,533680.0,187820.0,-0.072372,51.573408,1,2,1,...,5,4,1,2,0,0,1,1,2,E01001808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461347,2020991027064,2020,991027064,343034.0,731654.0,-2.926320,56.473539,99,2,2,...,0,1,1,1,0,0,1,1,-1,-1
461348,2020991029573,2020,991029573,257963.0,658891.0,-4.267565,55.802353,99,3,1,...,0,1,1,1,0,0,1,2,-1,-1
461349,2020991030297,2020,991030297,383664.0,810646.0,-2.271903,57.186317,99,2,2,...,0,1,1,1,0,0,2,1,-1,-1
461350,2020991030900,2020,991030900,277161.0,674852.0,-3.968753,55.950940,99,3,2,...,0,1,1,1,0,0,1,2,-1,-1
461351,2020991032575,2020,991032575,240402.0,681950.0,-4.561040,56.003843,99,3,1,...,0,1,1,1,0,2,1,1,-1,-1

In [40]:
sql_query = f"SELECT * FROM {table_names[1]}"
casualty_df = pd.read_sql_query(sql_query, con)

In [41]:
display(casualty_df)

,casualty_index,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile
0,0,2017010001708,2017,010001708,1,1,2,2,18,4,3,0,0,1,0,0,9,1,2
1,1,2017010001708,2017,010001708,2,2,1,1,19,4,2,0,0,0,0,0,2,-1,-1
2,2,2017010001708,2017,010001708,2,3,2,1,18,4,1,0,0,0,0,0,2,-1,-1
3,3,2017010009342,2017,010009342,1,1,2,2,33,6,3,0,0,1,0,0,9,1,5
4,4,2017010009344,2017,010009344,3,1,1,2,31,6,3,0,0,0,0,0,9,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600327,600327,2020991027064,2020,991027064,2,1,1,1,11,3,2,0,0,0,0,0,1,1,2
600328,600328,2020991029573,2020,991029573,1,1,3,2,63,9,3,10,1,0,0,0,0,1,10
600329,600329,2020991030297,2020,991030297,2,1,1,1,38,7,2,0,0,0,0,0,5,2,9
600330,600330,2020991030900,2020,991030900,2,1,1,1,76,11,3,0,0,0,0,0,1,1,9
600331,600331,2020991032575,2020,991032575,1,1,3,1,48,8,3,9,9,0,0,0,0,1,1

In [17]:
sql_query = f"SELECT * FROM {table_names[2]}"
vehicle_df = pd.read_sql_query(sql_query, con)

In [42]:
display(vehicle_df)

,vehicle_index,accident_index,accident_year,accident_reference,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_direction_from,vehicle_direction_to,...,journey_purpose_of_driver,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model,driver_imd_decile,driver_home_area_type
0,0,2017010001708,2017,010001708,1,9,0,18,1,5,...,6,1,24,5,1997,2,1,-1,-1,-1
1,1,2017010001708,2017,010001708,2,2,0,18,1,5,...,6,1,19,4,-1,-1,-1,-1,-1,-1
2,2,2017010009342,2017,010009342,1,9,0,18,5,1,...,6,1,33,6,1797,8,8,-1,9,1
3,3,2017010009342,2017,010009342,2,9,0,18,5,1,...,6,1,40,7,2204,2,12,-1,2,1
4,4,2017010009344,2017,010009344,1,9,0,18,3,7,...,6,3,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849086,849086,2020991030297,2020,991030297,1,9,0,7,8,2,...,1,1,57,9,1968,2,2,AUDI A5,7,1
849087,849087,2020991030297,2020,991030297,2,5,0,16,6,2,...,5,1,38,7,1301,1,2,KTM 1290 SUPERDUKE,9,2
849088,849088,2020991030900,2020,991030900,1,9,0,7,8,2,...,6,2,68,10,1995,2,1,BMW X3,5,1
849089,849089,2020991030900,2020,991030900,2,1,0,18,6,2,...,6,1,76,11,-1,-1,-1,-1,9,1
849090,849090,2020991032575,2020,991032575,1,9,0,1,8,4,...,6,1,39,7,999,1,2,FORD FOCUS,7,1

In [19]:
accident_df= accident_df.fillna('unknown')

In [20]:
vehicle_df= vehicle_df.fillna('unknown')

In [21]:
accident_df = accident_df.fillna('unknown')

In [27]:
# Rule 1: Speed Limit = 20mph → Accident Severity = Slight
rule1_df = accident_df[accident_df['speed_limit'] == 20]
support_rule1 = len(rule1_df) / len(accident_df)
confidence_rule1 = len(rule1_df[rule1_df['accident_severity'] == 3]) / len(rule1_df)

# Rule 2: Speed Limit = 70mph → Accident Severity = Fatal
rule2_df = accident_df[accident_df['speed_limit'] == 70]
support_rule2 = len(rule2_df) / len(accident_df)
confidence_rule2 = len(rule2_df[rule2_df['accident_severity'] == 1]) / len(rule2_df)

# Rule 3: Pedestrian Crossing Code = Zebra → Casualty Type = Pedestrian
rule3_df = dfall[dfall['pedestrian_location'] == 1]
support_rule3 = len(rule3_df) / len(dfall)
confidence_rule3 = len(rule3_df[rule3_df['casualty_class'] == 3]) / len(rule3_df)

# Calculate Lift
lift_rule1 = confidence_rule1 / support_rule2
lift_rule2 = confidence_rule2 / support_rule2
lift_rule3 = confidence_rule3 / support_rule3

# Print the results
print(f"Support (Rule 1): {support_rule1:.4f}")
print(f"Confidence (Rule 1): {confidence_rule1:.4f}")
print(f"Lift (Rule 1): {lift_rule1:.4f}")

print(f"Support (Rule 2): {support_rule2:.4f}")
print(f"Confidence (Rule 2): {confidence_rule2:.4f}")
print(f"Lift (Rule 2): {lift_rule2:.4f}")

print(f"Support (Rule 3): {support_rule3:.4f}")
print(f"Confidence (Rule 3): {confidence_rule3:.4f}")
print(f"Lift (Rule 3): {lift_rule3:.4f}")

Support (Rule 1): 0.0937
Confidence (Rule 1): 0.8391
Lift (Rule 1): 13.9149
Support (Rule 2): 0.0603
Confidence (Rule 2): 0.0266
Lift (Rule 2): 0.4405
Support (Rule 3): 0.0113
Confidence (Rule 3): 1.0000
Lift (Rule 3): 88.1237